<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>SEI Students</h1>
    <ul>
        <% students.forEach( student=> { %>
            <li>
                <%= student.name %>
                    -
                    <%= student.isGood ? `is a great student!` : `` %>
            </li>
            <% }); %>
    </ul>
</body>

</html>